@import './components/about/About.scss';
@import './components/header/Header.scss';
@import './components/footer/Footer.scss';
@import './components/portfolio/Portfolio.scss';
@import './components/resume/Resume.scss';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #0f0f0f;
}


.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


















